header{
    position: fixed;
    height: 115vh;
    padding-bottom: 15vh;
    background-color: #242323;
    transition: all .4s ease-in-out;
    z-index: 100;

    .logo{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 1rem;
        width: 95%;
        text-align: center;
        margin-top: 1.6rem;
        font-size: 1.4em;
        transition: all .6s ease-in-out;

        &:hover{
            color:#54b3d6;
        }
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95%;

        .nav{
            text-align: center;

            li{
                list-style: none;
                margin-top: 2rem;

                .active{
                    box-shadow: inset 130px 0 0 0.09px #54b3d6;
                    color: white;
                }

                a{
                    text-decoration: none;
                    width: 80%;
                    color: #a6a6a6;
                    display: inline-block;
                    padding-top: .75rem;
                    padding-bottom: .75rem;
                    border-top: 1px solid rgba(140, 140, 140, .4);
                    border-bottom: 1px solid rgba(140, 140, 140, .4);
                    @include button-style-hover(#54b3d6, .5s);
                }
            }
        }

        .icons{
            text-align: center;
            height: 40%;
            margin-bottom: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .filter-green{
                transition: all .4s ease-in-out;

                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(335deg) brightness(103%) contrast(102%);
                &:hover{
                    filter: invert(20%) sepia(40%) saturate(673%) hue-rotate(175deg) brightness(97%) contrast(87%);
                }
            }
        }
        
        .switch-language-wrapper{
            width: 100%;
            height: 40px;
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s ease-in-out;
            cursor: pointer;

            &::after{
                content: "RU";
                margin: .5rem;
            }

            &::before{
                content: "EN";
                margin: .5rem;
            }

            &:hover{
                transform: scale(1.02);
            }

            .switch{
                position: relative;
                background: transparent;
                border-radius: 24px;
                border: rgb(39, 50, 70) 2px solid;
                width: 60px;
                height: 30px;

                .ball{
                    transition: all .4s ease-in-out;
                    position: absolute;
                    top: 3px;
                    left: 5px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #54b3d6;
                    
                }
            }
        }

        .toggled{

            .switch{

                .ball{
                    left: 30px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    header{
        padding-bottom: 25vh;
    }
    
    .closed{
        transform: translateX(-100%);
    
        .nav{
            width: 50%;
            margin: 0 auto;

            li{
                a{
                    white-space: nowrap;
                }
            }
        }
    }

    .opened{
        padding-right: 2.5vw;
        width: 105vw;
        margin: 0 auto;

        .logo{
            width: 100%;
        }

        .nav{
            width: 50%;
            margin: 0 auto;
            
            li{

                .active{
                    box-shadow: none;
                    box-shadow: inset 500px 0 0 0.09px #54b3d6;
                }

                a{
                    white-space: nowrap;
                    
                    &:hover{
                        box-shadow: none;
                    }
                    transition: none;
                    @include button-style-hover(#54b3d6, .3s, 500px);
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .opened{

        .nav{
            
            li{
                .active{
                    box-shadow: none;
                    box-shadow: inset 350px 0 0 0.09px #54b3d6;
                }

                a{
                    &:hover{
                        box-shadow: none;
                    }
                    transition: none;
                    box-shadow: none;
                    @include button-style-hover(#54b3d6, .3s, 350px);
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .opened{

        .nav{
            
            li{
                .active{
                    box-shadow: none;
                    box-shadow: inset 300px 0 0 0.09px #54b3d6;
                }

                a{
                    &:hover{
                        box-shadow: none;
                    }
                    transition: none;
                    box-shadow: none;
                    @include button-style-hover(#54b3d6, .3s, 300px);
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .closed{
        .nav{
            width: 70%;
        }
    }
    
    .opened{

        .nav{
            width: 70%;
            
            li{
                .active{
                    box-shadow: none;
                    box-shadow: inset 230px 0 0 0.09px #54b3d6;
                }
    
                a{
                    &:hover{
                        box-shadow: none;
                    }
                    transition: none;
                    box-shadow: none;
                    @include button-style-hover(#54b3d6, .3s, 230px);
                }
            }
        }

    }
}

@media (max-width: 360px) {
    .opened{
        .nav{
            li{
                .active{
                    box-shadow: none;
                    box-shadow: inset 210px 0 0 0.09px #54b3d6;
                }
    
                a{
                    &:hover{
                        box-shadow: none;
                    }
                    transition: none;
                    box-shadow: none;
                    @include button-style-hover(#54b3d6, .4s, 210px);
                }
            }
        }
    }
}