html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin button-style{
    border-radius: 6px;
    padding: .6em 1em;
    background-color: #00b33c;
    text-decoration: none;
    color: white;
    @include button-style-hover(#54b3d6, .5s)
}

@mixin button-style-hover($color, $duration, $width: 130px){
    transition: color .3s ease-in-out, box-shadow $duration ease-in;

    &:hover {
              box-shadow: inset $width 0 0 0.09px $color;
              color: white;
            }
}

@keyframes appear {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}