html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin button-style{
    border-radius: 6px;
    padding: .6em 1em;
    background-color: #00b33c;
    text-decoration: none;
    color: white;
}