@import './presets';
@import "./navigation";
@import "./skills";
@import "./projects";
@import "./contact";


li{
    list-style: none;
}

body{
    animation: appear 3s ease-in-out;
    background-color: #1a1a1a;
    color: white;
    font-family: Nunito;
}

.app{
    display: flex;
    position: relative;

    .wrapper-hamburger{
        cursor: pointer;
        padding: 1rem;
        position: fixed;
        right: 2rem;
        top: 2rem;
        z-index: 1000000;
        display: none;
        
        .hamburger-menu{
            width: 28px;
            height: 3px;
            background-color: white;
            border-radius: 8px;
        
            &::after{
                content: '';
                position: absolute;
                width: 23px;
                height: 3px;
                top: 24px;
                background-color: white;
                border-radius: 8px;
            }
            
            &::before{
                content: '';
                position: absolute;
                width: 28px;
                height: 3px;
                top: 8px;
                background-color: white;
                border-radius: 8px;
            }
        }
    }
}

header{
    width: 10rem;
}

main{
    margin-left: 10rem;
    padding: 2rem 6rem;
    width: 100%;
}

.main{
    animation: appear 1s ease-in-out;
}

.home{
    width: 100%;

    .introduction{
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        width: 85%;

        @keyframes sk {
            0%{
                transform: scaleY(1) scaleX(1);
            }

            25%{
                transform: scaleY(.8) scaleX(.8);
            }

            100%{
                transform: scaleY(1.1) scaleX(1.1);
            }
        }

        .full-name .animated{
            -webkit-animation: sk .6s cubic-bezier(.09,1.9,.81,1.9);
            animation: sk .6s cubic-bezier(.09,1.9,.81,1.9);
        }

        @for $i from 1 through 20 {
            .full-name .name:nth-child(#{$i}) { 
                -webkit-animation-delay:(#{$i*0.07s + .7s});
                animation-delay:(#{$i*0.07s + .7s}); 
            }
        }
        
        .speech{

            .name{
                display: inline-block;
                color: #2aa1ff;
                font-size: 4em;
                font-weight: 1000;

                transition: transform .6s cubic-bezier(.09,1.9,.81,1.9);
                
                &:hover{
                    transform: scaleY(.6) scaleX(.85);
                }
            }
        
            h2{
                font-size: 2em;
            }
        
            p{
                margin-top: 1rem;
                font-size: 1.3em;
            }
            
            a{
                @include button-style;
                @include button-style-hover(#54b3d6, .6s, 250px);
                display: inline-block;
                margin-top: 1rem;
                font-size: 1.1em;
            }
            
        }

        img{
            width: 300px;
        }   
    }

    .bottom-img{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    .about{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10rem;
        margin-top: 8rem;

        .left-col{
            padding: 1.5rem;
            background-color: #2aa1ff;
            border-radius: 12px;
    
            h1{
                margin-bottom: .6rem;
            }
    
            p{
                margin-top: .4rem;
                font-size: 1.2em;
            }
        }

        .right-col{
            width: 100%;
            text-align: center;

            .cards{
                display: flex;
                justify-content: space-between;

                .card{
                    width: 90%;
                    text-align: center;

                    img{
                        width: 70px;
                    }

                    .smartphone{
                        transition: all .3s ease-in-out;
    
                        &:hover{
                            transform: rotate(-90deg);
                        }
                    }
                }

            }

            a{
                @include button-style;
                @include button-style-hover(#54b3d6, .6s, 200px);
                display: inline-block;
                margin-top: 2rem;
            }
        }
    }

}


@media (max-width: 1200px) {
    .app{
        .wrapper-hamburger{
            display: block;
        }
    }
}