html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  position: fixed;
  height: 115vh;
  padding-bottom: 15vh;
  background-color: #242323;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}
header .logo {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1rem;
  width: 95%;
  text-align: center;
  margin-top: 1.6rem;
  font-size: 1.4em;
  transition: all 0.6s ease-in-out;
}
header .logo:hover {
  color: #54b3d6;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}
header nav .nav {
  text-align: center;
}
header nav .nav li {
  list-style: none;
  margin-top: 2rem;
}
header nav .nav li .active {
  box-shadow: inset 130px 0 0 0.09px #54b3d6;
  color: white;
}
header nav .nav li a {
  text-decoration: none;
  width: 80%;
  color: #a6a6a6;
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 1px solid rgba(140, 140, 140, 0.4);
  border-bottom: 1px solid rgba(140, 140, 140, 0.4);
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in;
}
header nav .nav li a:hover {
  box-shadow: inset 130px 0 0 0.09px #54b3d6;
  color: white;
}
header nav .icons {
  text-align: center;
  height: 28%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header nav .icons .filter-green {
  transition: all 0.4s ease-in-out;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(335deg) brightness(103%) contrast(102%);
}
header nav .icons .filter-green:hover {
  filter: invert(20%) sepia(40%) saturate(673%) hue-rotate(175deg) brightness(97%) contrast(87%);
}
header nav .switch-language-wrapper {
  width: 100%;
  height: 40px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
header nav .switch-language-wrapper::after {
  content: "RU";
  margin: 0.5rem;
}
header nav .switch-language-wrapper::before {
  content: "EN";
  margin: 0.5rem;
}
header nav .switch-language-wrapper:hover {
  transform: scale(1.02);
}
header nav .switch-language-wrapper .switch {
  position: relative;
  background: transparent;
  border-radius: 24px;
  border: rgb(39, 50, 70) 2px solid;
  width: 60px;
  height: 30px;
}
header nav .switch-language-wrapper .switch .ball {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 3px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #54b3d6;
}
header nav .toggled .switch .ball {
  left: 30px;
}

@media (max-width: 1200px) {
  header {
    padding-bottom: 25vh;
  }
  .closed {
    transform: translateX(-100%);
  }
  .closed .nav {
    width: 50%;
    margin: 0 auto;
  }
  .closed .nav li a {
    white-space: nowrap;
  }
  .opened {
    padding-right: 2.5vw;
    width: 105vw;
    margin: 0 auto;
  }
  .opened .logo {
    width: 100%;
  }
  .opened .nav {
    width: 50%;
    margin: 0 auto;
  }
  .opened .nav li .active {
    box-shadow: none;
    box-shadow: inset 500px 0 0 0.09px #54b3d6;
  }
  .opened .nav li a {
    white-space: nowrap;
    transition: none;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in;
  }
  .opened .nav li a:hover {
    box-shadow: none;
  }
  .opened .nav li a:hover {
    box-shadow: inset 500px 0 0 0.09px #54b3d6;
    color: white;
  }
}
@media (max-width: 850px) {
  .opened .nav li .active {
    box-shadow: none;
    box-shadow: inset 350px 0 0 0.09px #54b3d6;
  }
  .opened .nav li a {
    transition: none;
    box-shadow: none;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in;
  }
  .opened .nav li a:hover {
    box-shadow: none;
  }
  .opened .nav li a:hover {
    box-shadow: inset 350px 0 0 0.09px #54b3d6;
    color: white;
  }
}
@media (max-width: 750px) {
  .opened .nav li .active {
    box-shadow: none;
    box-shadow: inset 300px 0 0 0.09px #54b3d6;
  }
  .opened .nav li a {
    transition: none;
    box-shadow: none;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in;
  }
  .opened .nav li a:hover {
    box-shadow: none;
  }
  .opened .nav li a:hover {
    box-shadow: inset 300px 0 0 0.09px #54b3d6;
    color: white;
  }
}
@media (max-width: 400px) {
  .closed .nav {
    width: 70%;
  }
  .opened .nav {
    width: 70%;
  }
  .opened .nav li .active {
    box-shadow: none;
    box-shadow: inset 230px 0 0 0.09px #54b3d6;
  }
  .opened .nav li a {
    transition: none;
    box-shadow: none;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in;
  }
  .opened .nav li a:hover {
    box-shadow: none;
  }
  .opened .nav li a:hover {
    box-shadow: inset 230px 0 0 0.09px #54b3d6;
    color: white;
  }
}
@media (max-width: 360px) {
  .opened .nav li .active {
    box-shadow: none;
    box-shadow: inset 210px 0 0 0.09px #54b3d6;
  }
  .opened .nav li a {
    transition: none;
    box-shadow: none;
    transition: color 0.3s ease-in-out, box-shadow 0.4s ease-in;
  }
  .opened .nav li a:hover {
    box-shadow: none;
  }
  .opened .nav li a:hover {
    box-shadow: inset 210px 0 0 0.09px #54b3d6;
    color: white;
  }
}
.skills {
  padding: 2rem 6rem;
}
.skills .cards .card:nth-child(1n) {
  animation: appear 0.8s ease both;
  animation-delay: 0.3s;
}
.skills .cards .card:nth-child(2n) {
  animation: appear 0.8s ease both;
  animation-delay: 0.6s;
}
.skills .cards .card:nth-child(3n) {
  animation: appear 0.8s ease both;
  animation-delay: 0.9s;
}
.skills .cards {
  margin: 4rem auto;
  display: flex;
  justify-content: space-around;
}
.skills .cards .hidden-text-1 {
  position: absolute;
  font-size: 1.1em;
  top: 2rem;
  opacity: 0;
  transition: all 0.3s ease-in;
  line-height: 1.7rem;
}
.skills .cards .hidden-text-2 {
  position: absolute;
  font-size: 1.1em;
  top: 2rem;
  opacity: 0;
  transition: all 0.3s ease-in;
  line-height: 1.7rem;
}
.skills .cards .hidden-text-3 {
  position: absolute;
  font-size: 1.1em;
  top: 2rem;
  opacity: 0;
  transition: all 0.3s ease-in;
  line-height: 1.7rem;
}
.skills .cards .card {
  transition: all 0.5s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  padding: 3rem 1rem;
  border-radius: 12px;
  background-color: #242323;
  width: 25%;
}
.skills .cards .card .image-container {
  width: 100%;
}
.skills .cards .card .image-container img {
  width: 130px;
  margin-bottom: 1rem;
}
.skills .cards .card .image-container h1 {
  width: 100%;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(140, 140, 140, 0.4);
}
.skills .cards .card .skills-container {
  position: relative;
}
.skills .cards .card .skills-container ul {
  transition: all 0.5s 0.1s ease-out;
}
.skills .cards .card .skills-container ul li {
  list-style: none;
  padding: 0.4rem;
  font-size: 1.2em;
}
.skills .cards .card:first-child:hover {
  transform: scale(1.05);
}
.skills .cards .card:first-child:hover ul {
  opacity: 0;
}
.skills .cards .card:first-child:hover .hidden-text-1 {
  opacity: 1;
}
.skills .cards .card:first-child .image-container img {
  margin-bottom: 1.7rem;
}
.skills .cards .card:first-child .skills-container ul li:nth-child(5) {
  border-bottom: 1px solid rgba(140, 140, 140, 0.4);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.skills .cards .card:nth-child(2):hover {
  transform: scale(1.05);
}
.skills .cards .card:nth-child(2):hover ul {
  opacity: 0;
}
.skills .cards .card:nth-child(2):hover .hidden-text-2 {
  opacity: 1;
}
.skills .cards .card:nth-child(3):hover {
  transform: scale(1.05);
}
.skills .cards .card:nth-child(3):hover ul {
  opacity: 0;
}
.skills .cards .card:nth-child(3):hover .hidden-text-3 {
  opacity: 1;
}

@media (max-width: 1200px) {
  .skills {
    padding-inline: 1rem;
  }
  .skills .cards {
    justify-content: space-between;
  }
  .skills .cards .card {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .skills {
    padding-inline: 2rem;
  }
  .skills .cards .card {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .skills .cards {
    flex-direction: column;
  }
  .skills .cards .card {
    min-height: 760px;
    width: 60%;
    margin: 2rem auto;
  }
}
@media (max-width: 520px) {
  .skills .cards .card {
    width: 80%;
    margin: 3rem auto;
  }
}
@media (max-width: 350px) {
  .skills .cards .card {
    width: 105%;
  }
  .skills .cards .card .image-container {
    font-size: 0.9em;
  }
}
.projects {
  margin-top: 3rem;
  padding: 2rem 6rem;
}
.projects .cards .card:nth-child(1n) {
  animation: appear 1s ease both;
  animation-delay: 0.3s;
}
.projects .cards .card:nth-child(2n) {
  animation: appear 1s ease both;
  animation-delay: 0.6s;
}
.projects .cards .card:nth-child(3n) {
  animation: appear 1s ease both;
  animation-delay: 0.9s;
}
.projects .cards .card:nth-child(4n) {
  animation: appear 1s ease both;
  animation-delay: 1.2s;
}
.projects .cards .card:nth-child(5n) {
  animation: appear 1s ease both;
  animation-delay: 1.5s;
}
.projects .cards .card:nth-child(6n) {
  animation: appear 1s ease both;
  animation-delay: 1.8s;
}
.projects .cards .card:nth-child(7n) {
  animation: appear 1s ease both;
  animation-delay: 2.1s;
}
.projects .cards .card:nth-child(8n) {
  animation: appear 1s ease both;
  animation-delay: 2.4s;
}
.projects .cards .card:nth-child(9n) {
  animation: appear 1s ease both;
  animation-delay: 2.7s;
}
.projects .cards .card:nth-child(10n) {
  animation: appear 1s ease both;
  animation-delay: 3s;
}
.projects .cards .card:nth-child(11n) {
  animation: appear 1s ease both;
  animation-delay: 3.3s;
}
.projects .cards .card:nth-child(12n) {
  animation: appear 1s ease both;
  animation-delay: 3.6s;
}
.projects .cards .card:nth-child(13n) {
  animation: appear 1s ease both;
  animation-delay: 3.9s;
}
.projects .cards .card:nth-child(14n) {
  animation: appear 1s ease both;
  animation-delay: 4.2s;
}
.projects .cards .card:nth-child(15n) {
  animation: appear 1s ease both;
  animation-delay: 4.5s;
}
.projects .cards .card:nth-child(16n) {
  animation: appear 1s ease both;
  animation-delay: 4.8s;
}
.projects .cards .card:nth-child(17n) {
  animation: appear 1s ease both;
  animation-delay: 5.1s;
}
.projects .cards .card:nth-child(18n) {
  animation: appear 1s ease both;
  animation-delay: 5.4s;
}
.projects .cards .card:nth-child(19n) {
  animation: appear 1s ease both;
  animation-delay: 5.7s;
}
.projects .cards .card:nth-child(20n) {
  animation: appear 1s ease both;
  animation-delay: 6s;
}
.projects .cards {
  margin-top: 3rem;
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 180px;
}
.projects .cards .card {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 320px;
  height: 160px;
  perspective: 1000px;
  box-shadow: 8px 10px 12px rgba(97, 96, 96, 0.18);
}
.projects .cards .card .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.54s ease-in-out;
  transform-style: preserve-3d;
}
.projects .cards .card .card-inner .card-front, .projects .cards .card .card-inner .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
}
.projects .cards .card .card-inner .card-back {
  background-color: rgba(0, 9, 26, 0.3);
  transform: rotateY(180deg);
}
.projects .cards .card .card-inner .card-back a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 12px;
  border: 1px solid rgb(0, 9, 26);
  transition: all 0.25s ease-in-out;
}
.projects .cards .card .card-inner .card-back a:hover {
  background-color: #54b3d6;
}
.projects .cards .card:hover .card-inner {
  transform: rotateY(180deg);
}
.projects .cards .card img {
  width: 320px;
}

@media (max-width: 870px) {
  .projects {
    padding: 2rem 6rem;
  }
  .projects .cards .card {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .projects {
    padding: 0rem 3rem;
  }
  .projects .cards .card {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .projects .cards {
    grid-gap: 0;
  }
  .projects .cards .card {
    width: 270px;
    height: 135px;
  }
  .projects .cards .card .card-inner .card-front img {
    width: 270px;
    height: 135px;
  }
}
@media (max-width: 350px) {
  .projects {
    padding: 1rem 2rem;
    margin-top: 1rem;
  }
  .projects h1 {
    font-size: 1.6em;
  }
}
@media (max-width: 300px) {
  .projects {
    padding: 1rem;
    margin-top: 1rem;
  }
  .projects .cards {
    grid-gap: 0;
  }
  .projects .cards .card {
    width: 240px;
    height: 125px;
  }
  .projects .cards .card .card-inner .card-front img {
    width: 240px;
    height: 125px;
  }
}
.contact {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
}
.contact .left-col .form {
  margin-top: 2rem;
  max-width: 800px;
  min-width: 500px;
  display: grid;
  grid-gap: 2rem;
  grid-template-areas: "n n e e" "t t t t" "b b b b" ". . . s";
}
.contact .left-col .form .input {
  display: block;
}
.contact .left-col .form .input label {
  display: inline-block;
  margin-bottom: 0.4rem;
}
.contact .left-col .form .input .shaking {
  animation: shake 0.4s;
}
@keyframes shake {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
}
.contact .left-col .form .input input, .contact .left-col .form .input textarea {
  font-family: Nunuito;
  color: white;
  font-size: 1.2em;
  border-radius: 4px;
  padding: 0.8rem 1.5rem;
  outline: none;
  border: none;
  background-color: #242323;
  border: 1px solid #1a1a1a;
  transition: border 0.3s ease-in-out;
  width: 100%;
}
.contact .left-col .form .input input:focus, .contact .left-col .form .input textarea:focus {
  border: 1px solid #54b3d6;
}
.contact .left-col .form .input input::-moz-placeholder, .contact .left-col .form .input textarea::-moz-placeholder {
  color: #ff4d4d;
}
.contact .left-col .form .input input::placeholder, .contact .left-col .form .input textarea::placeholder {
  color: #ff4d4d;
}
.contact .left-col .form .input textarea {
  font-size: 1.3em;
  min-height: 250px;
}
.contact .left-col .form .input input::-moz-placeholder {
  font-size: 0.8em;
}
.contact .left-col .form .input input::placeholder {
  font-size: 0.8em;
}
.contact .left-col .form .name-input {
  grid-area: n;
}
.contact .left-col .form .email-input {
  grid-area: e;
}
.contact .left-col .form .subject-input {
  grid-area: t;
}
.contact .left-col .form .message-input {
  grid-area: b;
}
.contact .left-col .form .message-input textarea {
  resize: vertical;
}
.contact .left-col .form .submit-btn {
  grid-area: s;
}
.contact .left-col .form .submit-btn button {
  padding: 0.6rem 3rem;
  border: 1px solid #54b3d6;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out, box-shadow 0.6s ease-in;
}
.contact .left-col .form .submit-btn button:hover {
  box-shadow: inset 180px 0 0 0.09px #54b3d6;
  color: white;
}
.contact .left-col .additional {
  margin-top: 2rem;
  color: rgba(168, 168, 168, 0.7058823529);
}
.contact .left-col .additional a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  transition: all 0.3s ease-in-out;
}
.contact .left-col .additional a:hover {
  color: #54b3d6;
}
.contact .right-col {
  margin-left: 8rem;
  margin-right: 0rem;
  transition: opacity 1s ease-in-out;
}
.contact .right-col h1 {
  color: #00b300;
}
.contact .right-col div {
  margin-top: 1rem;
}
.contact .right-col div p {
  line-height: 1.6rem;
  font-size: 1.2em;
}

@media (max-width: 1450px) {
  .contact .left-col .form .input input::-moz-placeholder {
    font-size: 0.8em;
  }
  .contact .left-col .form .input input::placeholder {
    font-size: 0.8em;
  }
}
@media (max-width: 1200px) {
  .contact {
    flex-direction: column;
  }
  .contact .right-col {
    margin-top: 3rem;
    margin-left: 0rem;
    padding-bottom: 10rem;
    transition: opacity 1s ease-in-out;
  }
}
@media (max-width: 850px) {
  .contact .left-col .form {
    grid-template-areas: "n n n n" "e e e e" "t t t t" "b b b b" "s s s s";
  }
  .contact .left-col .submit-btn {
    text-align: right;
  }
}
@media (max-width: 700px) {
  .contact {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
  }
  .contact .left-col .form {
    max-width: 500px;
    min-width: unset;
  }
}
@media (max-width: 450px) {
  .contact {
    padding-inline: 2rem;
  }
  .contact .left-col h1 {
    font-size: 1.6em;
  }
  .contact .left-col .form .input input::-moz-placeholder, .contact .left-col .form .input textarea::-moz-placeholder {
    font-size: 0.8em;
  }
  .contact .left-col .form .input input::placeholder, .contact .left-col .form .input textarea::placeholder {
    font-size: 0.8em;
  }
  .contact .right-col .thank h1 {
    font-size: 1.6em;
  }
  .contact .right-col .thank div p {
    font-size: 1.1em;
  }
}
@media (max-width: 350px) {
  .contact {
    padding-inline: 1rem;
  }
  .contact .left-col h1 {
    font-size: 1.3em;
  }
  .contact .left-col .form {
    width: 230px;
  }
  .contact .left-col .form .input input, .contact .left-col .form .input textarea {
    width: 230px;
  }
  .contact .left-col .form .input textarea::-moz-placeholder {
    font-size: 1em;
  }
  .contact .left-col .form .input textarea::placeholder {
    font-size: 1em;
  }
  .contact .left-col .form .input input::-moz-placeholder {
    font-size: 0.67em;
  }
  .contact .left-col .form .input input::placeholder {
    font-size: 0.67em;
  }
  .contact .left-col .form .submit-btn {
    width: 100%;
  }
  .contact .left-col .form .submit-btn button {
    padding: 0.6rem 2rem;
  }
}
::-webkit-scrollbar {
  width: 24px;
  padding: 10px;
}

::-webkit-scrollbar-track {
  background-color: #242323;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(26, 26, 26, 0.7);
  margin: 2px;
}

li {
  list-style: none;
}

body {
  animation: appear 1s ease-in-out;
  background-color: #1a1a1a;
  color: white;
  font-family: Nunito;
}

.no-scroll {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  position: relative;
  --toastify-color-dark: #3f3f3f !important;
}
.app .wrapper-hamburger {
  cursor: pointer;
  padding: 20px;
  position: fixed;
  right: 40px;
  top: 36px;
  width: 64px;
  height: 48px;
  z-index: 1000000;
  display: none;
  border-radius: 8px;
}
.app .wrapper-hamburger .hamburger-menu {
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 8px;
}
.app .wrapper-hamburger .hamburger-menu::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 3px;
  top: 28px;
  background-color: white;
  border-radius: 8px;
}
.app .wrapper-hamburger .hamburger-menu::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  top: 12px;
  background-color: white;
  border-radius: 8px;
}

header {
  width: 160px;
}

main {
  margin-left: 160px;
  width: 100%;
}

.main {
  animation: appear 1s ease-in-out;
}

.home {
  width: 100%;
  padding: 32px 64px;
}
.home .introduction {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 64px;
  width: 90%;
}
@keyframes sk {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  25% {
    transform: scaleY(0.8) scaleX(0.8);
  }
  100% {
    transform: scaleY(1.1) scaleX(1.1);
  }
}
.home .introduction .full-name .animated {
  animation: sk 0.6s cubic-bezier(0.09, 1.9, 0.81, 1.9);
}
.home .introduction .full-name .name:nth-child(1) {
  animation-delay: 0.77s;
}
.home .introduction .full-name .name:nth-child(2) {
  animation-delay: 0.84s;
}
.home .introduction .full-name .name:nth-child(3) {
  animation-delay: 0.91s;
}
.home .introduction .full-name .name:nth-child(4) {
  animation-delay: 0.98s;
}
.home .introduction .full-name .name:nth-child(5) {
  animation-delay: 1.05s;
}
.home .introduction .full-name .name:nth-child(6) {
  animation-delay: 1.12s;
}
.home .introduction .full-name .name:nth-child(7) {
  animation-delay: 1.19s;
}
.home .introduction .full-name .name:nth-child(8) {
  animation-delay: 1.26s;
}
.home .introduction .full-name .name:nth-child(9) {
  animation-delay: 1.33s;
}
.home .introduction .full-name .name:nth-child(10) {
  animation-delay: 1.4s;
}
.home .introduction .full-name .name:nth-child(11) {
  animation-delay: 1.47s;
}
.home .introduction .full-name .name:nth-child(12) {
  animation-delay: 1.54s;
}
.home .introduction .full-name .name:nth-child(13) {
  animation-delay: 1.61s;
}
.home .introduction .full-name .name:nth-child(14) {
  animation-delay: 1.68s;
}
.home .introduction .full-name .name:nth-child(15) {
  animation-delay: 1.75s;
}
.home .introduction .full-name .name:nth-child(16) {
  animation-delay: 1.82s;
}
.home .introduction .full-name .name:nth-child(17) {
  animation-delay: 1.89s;
}
.home .introduction .full-name .name:nth-child(18) {
  animation-delay: 1.96s;
}
.home .introduction .full-name .name:nth-child(19) {
  animation-delay: 2.03s;
}
.home .introduction .full-name .name:nth-child(20) {
  animation-delay: 2.1s;
}
.home .introduction .speech .full-name {
  white-space: nowrap;
}
.home .introduction .speech .name {
  display: inline-block;
  color: #2aa1ff;
  font-size: 4em;
  font-weight: 1000;
  transition: transform 0.6s cubic-bezier(0.09, 1.9, 0.81, 1.9);
}
.home .introduction .speech .name:hover {
  transform: scaleY(0.6) scaleX(0.85);
}
.home .introduction .speech h2 {
  font-size: 2em;
}
.home .introduction .speech p {
  margin-top: 16px;
  font-size: 1.3em;
}
.home .introduction .speech a {
  border-radius: 6px;
  padding: 0.6em 1em;
  background-color: #00b33c;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in;
  transition: color 0.3s ease-in-out, box-shadow 0.6s ease-in;
  display: inline-block;
  margin-top: 16px;
  font-size: 1.1em;
}
.home .introduction .speech a:hover {
  box-shadow: inset 130px 0 0 0.09px #54b3d6;
  color: white;
}
.home .introduction .speech a:hover {
  box-shadow: inset 250px 0 0 0.09px #54b3d6;
  color: white;
}
.home .introduction img {
  width: 300px;
}
.home .bottom-img {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
}
.home .about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10rem;
  margin-top: 8rem;
}
.home .about .left-col {
  padding: 1.5rem;
  background-color: #2aa1ff;
  border-radius: 12px;
}
.home .about .left-col h1 {
  margin-bottom: 0.6rem;
}
.home .about .left-col p {
  margin-top: 0.4rem;
  font-size: 1.2em;
}
.home .about .right-col {
  width: 100%;
  text-align: center;
}
.home .about .right-col .cards {
  display: flex;
  justify-content: space-between;
}
.home .about .right-col .cards .card {
  width: 90%;
  text-align: center;
}
.home .about .right-col .cards .card img {
  width: 70px;
}
.home .about .right-col .cards .card .smartphone {
  transition: all 0.3s ease-in-out;
}
.home .about .right-col .cards .card .smartphone:hover {
  transform: rotate(-90deg);
}
.home .about .right-col a {
  border-radius: 6px;
  padding: 0.6em 1em;
  background-color: #00b33c;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.5s ease-in;
  transition: color 0.3s ease-in-out, box-shadow 0.6s ease-in;
  display: inline-block;
  margin-top: 2rem;
}
.home .about .right-col a:hover {
  box-shadow: inset 130px 0 0 0.09px #54b3d6;
  color: white;
}
.home .about .right-col a:hover {
  box-shadow: inset 200px 0 0 0.09px #54b3d6;
  color: white;
}
.home .scroll {
  color: #4feb83;
  position: absolute;
  left: -60px;
  bottom: 80px;
  animation: shake-scroll 1s infinite alternate-reverse;
}
@keyframes shake-scroll {
  0% {
    transform: translateY(0px) rotate(90deg);
  }
  100% {
    transform: translateY(10px) rotate(90deg);
  }
}

@media (max-width: 1450px) {
  .home .about {
    grid-template-columns: 4fr 6fr;
    grid-gap: 2rem;
  }
}
@media (max-width: 1300px) {
  .home .about {
    display: flex;
    flex-direction: column;
  }
  .home .about .left-col {
    width: 60%;
  }
  .home .about .right-col {
    margin-top: 3rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 1200px) {
  .app .wrapper-hamburger {
    display: block;
  }
  .app main {
    margin-left: 0;
  }
  .app .home .about .left-col {
    width: 80%;
  }
}
@media (max-width: 1050px) {
  .app .home .introduction {
    width: 95%;
  }
  .app .home .introduction img {
    display: none;
  }
  .app .home .bottom-img img {
    transform: scale(0.8);
  }
}
@media (max-width: 950px) {
  .app .home .bottom-img img {
    transform: scale(0.7);
  }
  .app .home .bottom-img .scroll {
    bottom: 150px;
  }
}
@media (max-width: 800px) {
  .app .home .bottom-img img {
    transform: scale(0.7);
  }
  .app .home .about {
    margin-top: 0rem;
  }
}
@media (max-width: 755px) {
  .app .home {
    padding: 2rem 1rem;
  }
  .app .home .bottom-img img {
    margin-left: 5rem;
  }
  .app .home .bottom-img .scroll {
    left: -30px;
  }
}
@media (max-width: 660px) {
  .app .home .introduction .speech h2 {
    font-size: 1.2em;
  }
  .app .home .introduction .speech .full-name {
    font-size: 0.7em;
  }
  .app .home .about .right-col .cards {
    flex-direction: column;
  }
  .app .home .about .right-col .cards .card {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .app .home .about .right-col .cards .card:last-child {
    margin-bottom: 1rem;
  }
  .app .home .bottom-img .scroll {
    bottom: 180px;
  }
  .app .home .bottom-img img {
    transform: scale(0.55);
  }
}
@media (max-width: 500px) {
  .app .wrapper-hamburger {
    cursor: pointer;
    right: 20px;
  }
  .app .home .introduction .speech h2 {
    font-size: 1.2em;
  }
  .app .home .introduction .speech .full-name {
    font-size: 0.7em;
  }
  .app .home .about .left-col {
    width: 90%;
  }
  .app .home .about .right-col .cards {
    flex-direction: column;
  }
  .app .home .about .right-col .cards .card {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .app .home .about .right-col .cards .card:last-child {
    margin-bottom: 1rem;
  }
  .app .home .bottom-img .scroll {
    bottom: 220px;
    left: -50px;
  }
  .app .home .bottom-img img {
    transform: scale(0.4);
    margin-left: 4rem;
  }
}
@media (max-width: 430px) {
  .app .home .introduction {
    width: 100%;
  }
  .app .home .introduction .speech h2 {
    font-size: 0.9em;
  }
  .app .home .introduction .speech p {
    font-size: 1em;
  }
  .app .home .introduction .speech .full-name {
    font-size: 0.5em;
  }
  .app .home .about .left-col {
    width: 90%;
  }
  .app .home .about .right-col .cards {
    flex-direction: column;
  }
  .app .home .about .right-col .cards .card {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .app .home .about .right-col .cards .card:last-child {
    margin-bottom: 1rem;
  }
}
@media (max-width: 350px) {
  .app .home .bottom-img .scroll {
    bottom: 280px;
  }
}/*# sourceMappingURL=index.css.map */