@import './presets';
@import "./navigation";
@import "./skills";
@import "./projects";
@import "./contact";

::-webkit-scrollbar{
    width: 24px;
    padding: 10px;
}

::-webkit-scrollbar-track{
    background-color: #242323;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(26, 26, 26, .7);
    margin: 2px;
}

li{
    list-style: none;
}


body{
    animation: appear 1s ease-in-out;
    background-color: #1a1a1a;
    color: white;
    font-family: Nunito;
}

.no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app{
    display: flex;
    position: relative;

    --toastify-color-dark: #3f3f3f !important;

    .wrapper-hamburger{
        cursor: pointer;
        padding: 20px;
        
        position: fixed;
        right: 40px;
        top: 36px;
        width: 64px;
        height: 48px;
        z-index: 1000000;
        display: none;
        // background-color: #1a1a1a;
        border-radius: 8px;

        .hamburger-menu{
            width: 28px;
            height: 3px;
            background-color: white;
            border-radius: 8px;
        
            &::after{
                content: '';
                position: absolute;
                width: 23px;
                height: 3px;
                top: 28px;
                background-color: white;
                border-radius: 8px;
            }
            
            &::before{
                content: '';
                position: absolute;
                width: 28px;
                height: 3px;
                top: 12px;
                background-color: white;
                border-radius: 8px;
            }
        }
    }
}

header{
    width: 160px;
}

main{
    margin-left: 160px;
    width: 100%;
}

.main{
    animation: appear 1s ease-in-out;
}

.home{
    width: 100%;
    padding: 32px 64px;

    .introduction{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 64px;
        width: 90%;

        @keyframes sk {
            0%{
                transform: scaleY(1) scaleX(1);
            }

            25%{
                transform: scaleY(.8) scaleX(.8);
            }

            100%{
                transform: scaleY(1.1) scaleX(1.1);
            }
        }

        .full-name .animated{
            -webkit-animation: sk .6s cubic-bezier(.09,1.9,.81,1.9);
            animation: sk .6s cubic-bezier(.09,1.9,.81,1.9);
        }

        @for $i from 1 through 20 {
            .full-name .name:nth-child(#{$i}) { 
                -webkit-animation-delay:(#{$i*0.07s + .7s});
                animation-delay:(#{$i*0.07s + .7s}); 
            }
        }
        
        .speech{

            .full-name{
                white-space: nowrap;
            }

            .name{
                display: inline-block;
                color: #2aa1ff;
                font-size: 4em;
                font-weight: 1000;

                transition: transform .6s cubic-bezier(.09,1.9,.81,1.9);
                
                &:hover{
                    transform: scaleY(.6) scaleX(.85);
                }
            }
        
            h2{
                font-size: 2em;
            }
        
            p{
                margin-top: 16px;
                font-size: 1.3em;
            }
            
            a{
                @include button-style;
                @include button-style-hover(#54b3d6, .6s, 250px);
                display: inline-block;
                margin-top: 16px;
                font-size: 1.1em;
            }
            
        }

        img{
            width: 300px;
        }   
    }

    .bottom-img{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        position: relative;
    }

    .about{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10rem;
        margin-top: 8rem;

        .left-col{
            padding: 1.5rem;
            background-color: #2aa1ff;
            border-radius: 12px;
    
            h1{
                margin-bottom: .6rem;
            }
    
            p{
                margin-top: .4rem;
                font-size: 1.2em;
            }
        }

        .right-col{
            width: 100%;
            text-align: center;

            .cards{
                display: flex;
                justify-content: space-between;

                .card{
                    width: 90%;
                    text-align: center;

                    img{
                        width: 70px;
                    }

                    .smartphone{
                        transition: all .3s ease-in-out;
    
                        &:hover{
                            transform: rotate(-90deg);
                        }
                    }
                }

            }

            a{
                @include button-style;
                @include button-style-hover(#54b3d6, .6s, 200px);
                display: inline-block;
                margin-top: 2rem;
            }
        }
    }

    .scroll{
        @keyframes shake-scroll {
            0%{
                transform: translateY(0px) rotate(90deg);
            }
            100%{
                transform: translateY(10px) rotate(90deg);
            }
        }

        color: #4feb83;
        position: absolute;
        left: -60px;
        bottom: 80px;
        animation: shake-scroll 1s infinite alternate-reverse;
    }
}

@media (max-width: 1450px) {
    .home{
        .about{
            grid-template-columns: 4fr 6fr;
            grid-gap: 2rem;
        }
    }
}

@media (max-width: 1300px) {
    .home{
        .about{
            display: flex;
            flex-direction: column;

            .left-col{
                width: 60%;
            }

            .right-col{
                margin-top: 3rem;
                margin-bottom: 8rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .app{
        .wrapper-hamburger{
            display: block;
        }

        main{
            margin-left: 0;
        }

        .home{
            .about{
                .left-col{
                    width: 80%;
                }
            }
        }
    }
}


@media (max-width: 1050px) {
    .app{
        .home{
            .introduction{
                width: 95%;
    
                img{
                    display: none;
                }
            }
            
            .bottom-img{
                img{
                    transform: scale(.8);
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .app{
        .home{
            .bottom-img{
                img{
                    transform: scale(.7);
                }

                .scroll{
                    bottom: 150px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .app{
        .home{
            .bottom-img{
                img{
                    transform: scale(.7);
                }
            }

            .about{
                margin-top: 0rem;
            }
        }
    }
}

@media (max-width: 755px) {
    .app{
        .home{
            padding: 2rem 1rem;
        
            .bottom-img{

                img{
                    margin-left: 5rem;
                }

                .scroll{
                    left: -30px;
                }
            }
        }
    }
}

@media (max-width: 660px) {
    .app{
        .home{
            .introduction{
                .speech{
                    h2{
                        font-size: 1.2em;
                    }

                    .full-name{
                        font-size: .7em;
                    }
                }
            }

            .about{
                .right-col{
                    .cards{
                        flex-direction: column;
                        
                        .card{
                            margin: 0 auto;
                            margin-bottom: 3rem;
                        }

                        .card:last-child{
                            margin-bottom: 1rem;
                        }
                    }
                }
            }

            .bottom-img{
                .scroll{
                    bottom: 180px;
                }

                img{
                    transform: scale(.55);
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .app .wrapper-hamburger {
        cursor: pointer;
        right: 20px;
    }
    
    .app{
        .home{
            .introduction{
                .speech{
                    h2{
                        font-size: 1.2em;
                    }

                    .full-name{
                        font-size: .7em;
                    }
                }
            }

            .about{
                .left-col{
                    width: 90%;
                }

                .right-col{
                    .cards{
                        flex-direction: column;
                        
                        .card{
                            margin: 0 auto;
                            margin-bottom: 3rem;
                        }

                        .card:last-child{
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
            
            .bottom-img{
                .scroll{
                    bottom: 220px;
                    left: -50px;
                }

                img{
                    transform: scale(.4);
                    margin-left: 4rem;
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .app{
        .home{
            .introduction{
                width: 100%;
                .speech{
                    h2{
                        font-size: .9em;
                    }

                    p{
                        font-size: 1em;
                    }

                    .full-name{
                        font-size: .5em;
                    }
                }
            }

            .about{
                .left-col{
                    width: 90%;
                }

                .right-col{
                    .cards{
                        flex-direction: column;
                        
                        .card{
                            margin: 0 auto;
                            margin-bottom: 3rem;
                        }

                        .card:last-child{
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .app{
        .wrapper-hamburger{
            // right: .5rem;
        }

        .home{
            .bottom-img{
                .scroll{
                    bottom: 280px;
                }
            }
        }
    }
}